.Container {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 20px;
}

.Main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 65px;
}

.Option {
  text-align: center;
}
