.Cross {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-10px, -30px);
  margin-right: 60px;
}
.Cross:before,
.Cross:after {
  position: absolute;
  left: 30px;
  content: " ";
  height: 60px;
  width: 20px;
  background-color: #333;
}
.Cross:before {
  transform: rotate(45deg);
  background-image: linear-gradient(to top, #0052d4 60%, #6fb1fc);
}
.Cross:after {
  transform: rotate(-45deg);
  background-image: linear-gradient(to bottom, #0052d4 60%, #6fb1fc);
}
