.Square {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  background-color: white;
  border: none;
  border-top: 2px solid #dfdfdf;
  border-left: 2px solid #dfdfdf;
}

.Square:nth-of-type(-n + 3) {
  border-top: none;
}

.Square:nth-of-type(3n + 1) {
  border-left: none;
}
